#boton1, #boton2 ,#boton3  {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
  margin-left: 40px;
}
#boton2,#boton3{margin-left: 70px;}
  p{color:white;}
#tiempo{
    padding: 10px;
    background-color:black;
    color: white;
    }
table{
  padding: 45px;
  padding-top: 10px;
  background-color:#3f3f3f;
  padding-bottom: 10px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 5px 20px 0 rgba(0,0,0,0.19);
  border: 2px solid #1f1f1f;
}
body{
  margin: 5px;
  background-image: url("textura.jpg");
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 5px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  opacity:0.9;
}
